// Backgrounds
$CBackground: #e2d39d;
$CItemCont: #6f6b5f;
$CSearchBackground: #6f6b5f;
$CHeader: #ffdf6a;

// Text
$CHeaderTitle: #6f6b5f;
$CNoPicText: white;
$CItemText: #ffe584;

// Misc
$CIcon: white;
